﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Form/Admin/AdminMaster.Master" AutoEventWireup="true" CodeBehind="QL_TaiKhoan.aspx.cs" Inherits="FashionShop.Form.Admin.QL_TaiKhoan" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
</asp:Content>
